{% if not camera.enable and not fisheye.enable %}
      "Cameras": {}
{% else %}
      "Cameras": {
{% if camera.enable %}
        "{{ camera.name }}": {
          "CaptureSettings": [
            { "ImageType": 0,
              "Width": {{ camera.width }}, "Height": {{ camera.height }},
              "FovDegrees": {{ camera.fov }},
              "AutoExposureSpeed": 100, "AutoExposureBias": 0,
              "MotionBlurAmount": 0, "TargetGamma": 1.0 }
          ],
          "X": 0.155, "Y": 0.0, "Z": -0.35,
          "Pitch": -25.0, "Roll": 0.0, "Yaw": 0.0
        }{% if fisheye.enable %},{% endif %}
{% endif %}
{% if fisheye.enable %}
{% for fc in fisheye.cameras %}
        "{{ fc.name }}": {
          "CaptureSettings": [
            { "ImageType": 0,
              "Width": {{ fisheye.width }}, "Height": {{ fisheye.height }},
              "FovDegrees": {{ fisheye.fov }},
              "SceneType": "outdoor",

              "FisheyeModel": 3,
              "FisheyeEnableBarrelDistortion": false,
              "FisheyeFx": 117.898602594,
              "FisheyeFy": 117.898602594,
              "FisheyeCx": 305.025644077,
              "FisheyeCy": 243.933321625,
              "FisheyeK1": -0.133546,
              "FisheyeK2": 0.107245,
              "FisheyeK3": -0.051197,
              "FisheyeK4": 0.008939,

              "EnableOpticalEffects": true,
              "LensMaskEnabled": true,
              "LensMaskRingStart": 0.92,
              "LensMaskRingEnd": 0.98,
              "LensMaskRingDarkness": 0.02,
              "FisheyeCircularMask": true,

              "NoiseAmount": 0.03,
              "FisheyeChromaticAberrationEnabled": {{ fc.ca_enabled }},
              "FisheyeChromaticAberrationStrength": {{ fc.ca_strength }},
              "FisheyeChromaticAberrationFalloff": 0.3,
              "SeamBlendingEnabled": true,
              "SeamBlendWidth": 0.1,

              "VignetteStrength": 0.0,
              "OpticalVignetteStrength": 0.0,
              "ISPCenterLift": 0.0,
              "ContrastCompression": 0.0,
              "BloomStrength": 0.0,
              "TonemapMode": 1,
              "HDRBloomEnabled": false,
              "bVeilingGlareEnabled": false,
              "ExposureCompensation": 0.0 }
          ],
          "X": {{ fc.x }}, "Y": {{ fc.y }}, "Z": {{ fc.z }},
          "Pitch": 0.0, "Roll": 0.0, "Yaw": {{ fc.yaw }}
        }{% if not loop.last %},{% endif %}
{% endfor %}
{% endif %}
      }
{% endif %}
